################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/PracticeC#/SearchByTokens/.vs/SearchByTokens/v17/DocumentLayout.json
/PracticeC#/SearchByTokens/.vs/SearchByTokens/v17/.suo
